<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dasi.core.mapper.MessageMapper">

    <!-- 分页查询 -->
    <select id="selectMessagePage" resultType="com.dasi.pojo.vo.MessagePageVO">
        SELECT
        m.id            AS msgId,
        d.id            AS dispatchId,
        d.channel       AS channel,
        d.status        AS status,
        m.subject       AS subject,
        m.attachments   AS attachments,
        a.id            AS sendFromId,
        a.name          AS sendFromName,
        c.id            AS sendToId,
        c.name          AS sendToName,
        d.target        AS target
        FROM dispatch d
        JOIN message m ON d.msg_id = m.id
        LEFT JOIN account a ON d.send_from = a.id
        LEFT JOIN contact c ON d.send_to = c.id

        <where>
            <if test="dto.channel != null">
                AND d.channel = #{dto.channel}
            </if>
            <if test="dto.status != null">
                AND d.status = #{dto.status}
            </if>
            <if test="dto.subject != null and dto.subject.trim() != ''">
                AND m.subject LIKE CONCAT('%', #{dto.subject}, '%')
            </if>
            <if test="dto.content != null and dto.content.trim() != ''">
                AND m.content LIKE CONCAT('%', #{dto.content}, '%')
            </if>
            <if test="dto.sendFrom != null">
                AND d.send_from = #{dto.sendFrom}
            </if>
            <if test="dto.sendTo != null">
                AND d.send_to = #{dto.sendTo}
            </if>
            <if test="dto.target != null and dto.target.trim() != ''">
                AND d.target LIKE CONCAT('%', #{dto.target}, '%')
            </if>
        </where>

        ORDER BY d.created_at DESC
    </select>

    <!-- 详情查询 -->
    <select id="selectMessageDetail" resultType="com.dasi.pojo.vo.MessageDetailVO">
        SELECT
            d.channel       AS channel,
            d.status        AS status,
            m.subject       AS subject,
            m.content       AS content,
            m.attachments   AS attachments,
            a.name          AS sendFromName,
            c.name          AS sendToName,
            d.target        AS target,
            d.error_msg     AS errorMsg,
            d.schedule_at   AS scheduleAt,
            d.created_at    AS createdAt,
            d.sent_at       AS sentAt,
            d.finished_at   AS finishedAt
        FROM dispatch d
        JOIN message m ON d.msg_id = m.id
        LEFT JOIN account a ON d.send_from = a.id
        LEFT JOIN contact c ON d.send_to = c.id
        WHERE d.id = #{dispatchId}
        LIMIT 1
    </select>

</mapper>